@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
    --mainBgColor: #cfcfcf;
    --bordBgColor: rgb(248, 250, 252);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.game {}

.header {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 50px;
    color: blue;
    background-color: azure;
    font-size: 34px;
    line-height: 34px;
}

.info {
    display: flex;
    height: 50px;
    align-items: center;
    background-color: #cfcfcf;
    justify-content: center;
}

.score {
    background-color: inherit;
    font-size: 26px;
}

.level {
    color: brown;
    background-color: inherit;
    font-size: 26px;
    margin-left: 100px;
}

.gameBoard {
    display: flex;
    background-color: var(--mainBgColor);
    padding-bottom: 30px;
    justify-content: center;
    position: relative;
}

.gameContainer {}

.hide {
    display: none;
}

.pause {
    text-align: center;
    padding-top: 200px;
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 64px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.7);
}

.gameOver {
    text-align: center;
    padding-top: 200px;
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 64px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.7);
}

.navigation {
    height: inherit;
    width: 200px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.nextBlock {}

.sizeSelector {
    display: flex;
    justify-content: space-between;
}

.bordSize:hover {
    cursor: pointer;
}

.bordSize {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 30px;
    font-size: 14px;
    line-height: 14px;
    background-color: aliceblue;
    border-radius: 5px;
    color: deepskyblue;
    border: 1px solid rgb(124, 187, 255);
}

.sizeSelected {
    color: aliceblue;
    background-color: rgb(10, 0, 153);
}

.cellSelector {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.cellSize:hover {
    cursor: pointer;
}

.cellSize {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65px;
    height: 40px;
    font-size: 14px;
    line-height: 14px;
    background-color: aliceblue;
    border-radius: 5px;
    color: deepskyblue;
    border: 1px solid rgb(124, 187, 255);
}

.cellSelected {
    color: aliceblue;
    background-color: rgb(10, 0, 153);
}

.tableLight {
    background-color: var(--bordBgColor);
}

.tableDark {
    background-color: rgb(48, 48, 48);
}

.large {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(124, 187, 255);
}

.medium {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(124, 187, 255);
}

.small {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(124, 187, 255);
}

.nextHead {
    font-size: 18px;
    margin-bottom: 20px;
}

.btnGrid {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    align-self: center;
}

.imgGrid {
    width: 40px;
}

.btnNewGame {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    align-self: center;
    font-size: 24px;
    color: blue;
    border-radius: 5px;
    border: 1px solid rgb(153, 153, 153);
}

.btnPause {
    margin-top: 10px;
    height: 30px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    background: var(--bordBgColor);
}

.tdBorder {
    border: 1px solid var(--mainBgColor);
}

.tdSizeL {
    width: 30px;
    height: 30px;
}

.tdSizeM {
    width: 25px;
    height: 25px;
}

.tdSizeS {
    width: 20px;
    height: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.imgSize {
    height: 13px;
}

.btnArrow {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(77, 77, 77);
}

.arowContols {
    display: flex;
    justify-content: space-between;
}

.btnSpace {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(77, 77, 77);
}

.blockLight {
    background: rgb(248, 250, 252);
}

.blockDark {
    background: rgb(48, 48, 48);
}

.block0Next {
    background: var(--mainBgColor);
}

.block1 {
    background: rgb(19, 165, 0);
}

.block2 {
    background: rgb(255, 255, 0);
}

.block3 {
    background: rgb(255, 0, 0);
}

.block4 {
    background: rgb(0, 255, 255);
}

.block5 {
    background: rgb(255, 166, 0);
}

.block6 {
    background: rgb(253, 1, 178);
}

.block7 {
    background: rgb(0, 4, 255);
}

.footer {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 30px;
    background-color: black;
    color: gainsboro;
    padding-left: 30px;
    font-size: 14px;
    line-height: 14px;
}

@media (max-width: 568px) {
    .gameBoard {
        flex-direction: column;
        align-items: center;
    }

    .nextBlock {
        display: none;
    }

    .navigation {
        margin-left: 0;
        margin-top: 30px;
    }
}